@using Microsoft.JSInterop;
<div class="offcanvas offcanvas-start"   tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class=" d-flex justify-content-end" >
        <button class="btn" type="button" style="width: 40px;margin-right: 5px;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="offcanvas-header d-block">
        <div class="profile-picture-container d-flex justify-content-center mt-3 col-12 "> 
        <MudImage Src="_content/Versus.Core/images/JohnyWick.jpg" Alt="Mony the dog" Width="110" Height="110" Elevation="25" Style="border-radius:100px" />
        </div>
        <div class=" d-flex justify-content-center mt-3 col-12 ">
            <h3>Baba Jaga</h3>
        </div>
        <div class=" d-flex justify-content-center col-12 ">
            <span><MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.LocationOn" /> Polska, Kielce</span>
        </div>
     </div>
    <div class="row m-auto d-flex justify-content-center mt-2">
        <div style="min-width:60px" class="col-4  text-center d-block mb-0 font-weight-light"><p class="mb-1" style="font-size: larger">124</p><span><MudIcon Icon="@Icons.Material.Outlined.VideogameAsset" Title="Reddit" /></span></div>
        <div style="min-width:60px" class="col-4 text-center d-block mb-0 font-weight-light"><p class="mb-2" style="font-size: larger">84</p><span><i class="fa fa-trophy" aria-hidden="true"></i></span></div>
        <div style="min-width:60px" class="col-4 text-center d-block mb-0 font-weight-light"><p class="mb-2" style="font-size: larger">40</p><span><i class="fa fa-times" aria-hidden="true"></i></span></div>
     </div>
    
    <div class="offcanvas-body mt-3">
        <div class="row m-auto"> <MudDivider DividerType="DividerType.FullWidth" /></div>
        <MudPaper  Elevation="0">
            <MudNavMenu Rounded="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">
                <MudNavLink Href="/HomePage" Icon="@Icons.Material.Filled.Dashboard">@Localizer["Sidebar_Home"]</MudNavLink>
                    <MudNavLink Href="/MatchmakingPage" Icon="@Icons.Material.Filled.Handshake">@Localizer["Sidebar_Matchmaking"]</MudNavLink>
                    <MudNavLink Href="/MatchesPage" Icon="@Icons.Material.Outlined.VideogameAsset">@Localizer["Sidebar_Matches"]</MudNavLink>
                    <MudNavLink Href="/FriendsPage" Icon="@Icons.Material.Filled.Groups3">@Localizer["Sidebar_Friends"]</MudNavLink>
                    <MudNavLink Href="/StatsPage" Icon="@Icons.Material.Filled.QueryStats">@Localizer["Sidebar_Stats"]</MudNavLink>
                    <MudNavLink Href="/thelab" Icon="@Icons.Material.Filled.Info">@Localizer["Sidebar_HowToPlay"]</MudNavLink>
                    <MudNavLink Href="/SettingsPage" Icon="@Icons.Material.Filled.Settings">@Localizer["Sidebar_Settings"]</MudNavLink>
            </MudNavMenu>
        </MudPaper>

        <RadzenButton Text="Log Out" class="btn py-3 w-100 w-md-auto mt-5" ButtonType="Radzen.ButtonType.Submit" ButtonStyle="ButtonStyle.Secondary" />
    </div>
   
 </div>
    
 <script>
        let startX;

        document.getElementById('offcanvasExample').addEventListener('touchstart', function (e) {
            const touch = e.touches[0];
            startX = touch.clientX;
        }, false);

        document.getElementById('offcanvasExample').addEventListener('touchmove', function (e) {
            const touch = e.touches[0];
            const change = startX - touch.clientX;

            if (change > 50) {

                var offcanvasElement = document.getElementById('offcanvasExample');
                var bsOffcanvas = bootstrap.Offcanvas.getInstance(offcanvasElement);
                bsOffcanvas.hide();

                e.preventDefault();
            }
        }, false);
</script>