<div class="center-wrap">
    <div class="section text-center">
        <h4 class="mb-1 pb-3">Rejestracja</h4>
        <div class="form-group">
            <input type="text" class="form-style" placeholder="Login">@* @Localizer["Login"] *@
        </div>
        <div class="form-group mt-2">
            <input type="email" class="form-style" placeholder="E-mail">@* @Localizer["E_mail"] *@
        </div>
        <div class="form-group mt-2">
            <input type="password" class="form-style" placeholder="Hasło">@* @Localizer["Password"] *@
        </div>
        <div class="form-group mt-2">
            <input type="password" class="form-style" placeholder="Powtórz hasło">@* @Localizer["Repeat_password"] *@
        </div>

        <RadzenSelectBar @bind-Value=@value TValue="int" class="mt-4">
            <Items>
                @foreach (var dataItem in data)
                {
                    <RadzenSelectBarItem Text="@dataItem.Name" Value="@dataItem.Id" Disabled="@(dataItem.IsDisabled.HasValue ? dataItem.IsDisabled.Value : false)" Visible="@(dataItem.IsVisible.HasValue ? dataItem.IsVisible.Value : true)" />
                }
            </Items>
        </RadzenSelectBar>

        <RadzenButton Text="Zarejestruj" class="btn mt-2" Click="changePage" ButtonStyle="Radzen.ButtonStyle.Secondary" />
    </div>
</div>
@code {

    int value = 1;
    int osobaID = 10023;
    public class MyObject
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public bool? IsDisabled { get; set; }
        public bool? IsVisible { get; set; }
    }
    IEnumerable<MyObject> data = new MyObject[]
        {
        new MyObject() {
            Id = 1,
            Name = "Polski"
        },
        new MyObject() {
            Id = 2,
            Name = "English"
        },

        };
    public void changePage()
    {
        // NavManager.NavigateTo("/Matchmaking");
    }
}
