@using Versus.Core.Services.Session
@implements IDisposable


<div class="">
    <div class="text-center mb-5">
        <h3>
            <div>
                <i class="fas fa-user" style="color:white"></i>
            </div>
            <span class="vs-text-shadow">@Localizer["Auth_Login"]</span>
        </h3>
    </div>
    <EditForm EditContext="_editContext" OnValidSubmit="Submit" FormName="FormLogin">
        <div class="mb-2">
            <InputText @bind-Value="Model!.Login" type="email" class="vs-form-style" placeholder="@Localizer["Auth_Email"]" />
        </div>

        <div class="mb-2">        
            <InputText @bind-Value="Model!.Password" type="password" class="vs-form-style" placeholder="@Localizer["Auth_Password"]" />
        </div>

        <div class="text-center mt-3">
            <RadzenButton Text="@Localizer["Auth_SignIn"]" class="btn py-3 w-100 w-md-auto" ButtonType="Radzen.ButtonType.Submit" ButtonStyle="ButtonStyle.Secondary" />
        </div>
    </EditForm>
    <div class="d-flex justify-content-end mt-2">
        <a href="#" class="vs-link ">@Localizer["Auth_ForgotPassword"]</a>
    </div>

    <div class="vs-separator vs-text-shadow my-4">or</div>
    <div class="d-flex flex-column">
        <button type="button" class="btn btn-secondary my-1 brand-facebook">
            <div class="d-flex flex-row align-items-center">
                <i class="fa-brands fa-facebook-f"></i>
                <span class="flex-grow-1 mx-2">Facebook</span>
            </div>
        </button>
        <button type="button" class="btn btn-secondary my-1 brand-google">
            <div class="d-flex flex-row align-items-center">
                <i class="fa-brands fa-google"></i>
                <span class="flex-grow-1 mx-2">Google</span>
            </div>
        </button>
    </div>
</div>

@code {

    private EditContext? _editContext;

    [SupplyParameterFromForm]
    public LoginViewModel? Model { get; set; }

    private ValidationMessageStore? _validationStore;

    protected override void OnInitialized()
    {
        Model ??= new LoginViewModel();
        _editContext = new EditContext(Model);
        _editContext.OnValidationRequested += HandleValidationRequested;
    }

    private void HandleValidationRequested(object? sender, ValidationRequestedEventArgs e)
    {
        _validationStore?.Clear();

        // handle validation
    }

    private void Submit()
    {
        try
        {
            // ...  // Przeładuj stronę, aby zastosować zmiany
            NavManager.NavigateTo("/Home");
        }
        catch (ApiException)
        {
            // handle error codes
        }
    }

    public void Dispose()
    {
        if (_editContext is not null)
        {
            _editContext.OnValidationRequested -= HandleValidationRequested;
        }
    }

}
