<div class="center-wrap">
    <div class="section text-center">
        <h4 class="mb-4 pb-3"> @Localizer["Auth_LoginPanel"] </h4>
        <div class="form-group">
            <input type="email" class="form-style" placeholder="@Localizer["Auth_Email"] ">
        </div>
        <div class="form-group mt-2">
            <input type="password" class="form-style" placeholder="@Localizer["Auth_Password"] ">
        </div>
        <RadzenButton Text="@Localizer["Auth_Login"]" Click="changePage" class="btn mt-5" ButtonStyle="Radzen.ButtonStyle.Secondary" />
        <p class="mb-0 mt-4 text-center"><a href="/Matchmaking" class="link">@Localizer["Auth_ForgotPassword"]</a></p> 
    </div>
</div>
@code {
    public void changePage()
    {
        // NavManager.NavigateTo("/Matchmaking");
    }
}
